Extract_v1.json
{
  "name": "Extract",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_File",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -64,
        -112
      ],
      "id": "dfa8a8d9-4e4e-475a-b2e7-a90acd92c6c2",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2357c3c-7bac-489d-b00b-4b76c126ef88",
              "name": "data",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -112
      ],
      "id": "82c7f86c-beca-4ba4-8f42-1ffe16ad016f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. **TASK:** Your sole task is to analyze the provided text/data and extract all relevant information into a valid, clean, and concise **JSON object**.\n2. **OUTPUT REQUIREMENT:** You must output *only* the JSON object. Do not include any explanatory text, markdown notes, preamble, or any other conversation outside of the opening `{` and closing `}` of the JSON structure.\n3. **INSTRUCTIONS:** Analyze the data provided below and structure the final output to always contain a `message` string and a numeric `statusCode` (either 200 for success or 500 for error).\n\n    * **VALIDATION RULE (500 Error Condition):** If essential document details (like supplier name/code OR PO number) cannot be found, or if the content appears to be a **screenshot** rather than extractable text, output the following structure:\n      ```json\n      {\n        \"message\": \"Invalid PDF Content: Essential details (Supplier/PO Number) are missing. Make sure the PDF does not contain screenshots of the details.\",\n        \"statusCode\": 500\n      }\n      ```\n      **Do not proceed with data extraction if this rule is met.**\n\n    * **Success Structure (200 Status Code):** If the data is valid, the JSON must contain the `message`, `statusCode`, and the extracted data under the keys `headers` and `items`.\n\n    * **Key Normalization Rules (If valid):** All similar properties must be normalized to a single, standardized key.\n        * Any form of **supplier code** or **ID** must be standardized to the key **`supplier_code`**.\n        * Any form of **address** or **location** must be standardized to the key **`address`**.\n        * General fields (like `supplier_name`, `vendor`) should be standardized to the key **`supplier`**.\n\n    * **JSON Structure (If valid):**\n      ```json\n      {\n        \"message\": \"Extraction successful.\",\n        \"statusCode\": 200,\n        \"headers\": {\n          // main document details like po_number, supplier, address, totals\n        },\n        \"items\": [\n          // array of line-item objects\n        ]\n      }\n      ```\n\n---\n**DATA TO EXTRACT:**\n{{$json.data}}\n---",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        -112
      ],
      "id": "361b4951-e79e-4f15-8acb-c7d0524c145f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  let raw = item.json.output;\n\n  raw = raw.replace(/```json|```/g, '').trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (error) {\n    parsed = { error: 'Invalid JSON format', details: error?.message, raw };\n  }\n\n  return {\n    json: parsed\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -112
      ],
      "id": "6f63a724-3f9d-411d-8101-94c554620d17",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        912,
        -352
      ],
      "id": "7eb27d94-6d98-4060-a92b-7a9af07cce23",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lv7KSvFsbz9KI2UF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        64
      ],
      "id": "06379dc6-90ae-451f-9709-f60d67f3ad24",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dLhnSnHZ60g2E2QI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        16
      ],
      "id": "214951f6-a2e7-42e5-bd4c-5ca26f32daa3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "list"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -224,
        304
      ],
      "id": "bc34ece5-6e7d-4087-883e-633c4da9f1ff",
      "name": "FTP",
      "credentials": {
        "ftp": {
          "id": "vtnBX3FMSSMxRZ8o",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        48
      ],
      "id": "cb438ad0-055d-495c-b8ad-c102c28de524",
      "name": "Webhook1",
      "webhookId": "98da41c7-fa71-4374-8d65-102db5b0607b"
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        432,
        -336
      ],
      "id": "7c6c9d09-d687-4668-8380-058bb61360b3",
      "name": "Microsoft SQL",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        -336
      ],
      "id": "1254667c-16e6-4092-a3e3-f86e535c1f60",
      "name": "Execute Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert data extraction and formatting engine.\n\n1. **TASK:** Your sole task is to analyze the provided text/data and extract all relevant information into a valid, clean, and concise **JSON object**.\n2. **OUTPUT REQUIREMENT:** You must output *only* the JSON object. Do not include any explanatory text, markdown notes, preamble, or any other conversation outside of the opening `{` and closing `}` of the JSON structure.\n3. **INSTRUCTIONS:** Analyze the data provided below and structure it appropriately in the JSON object.\n\n---\n**DATA TO EXTRACT:**\n{{$json.data}}\n---",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        96,
        -336
      ],
      "id": "a9083f51-c9df-44b1-8aa5-b3d910ed38e4",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. **TASK:** Your sole task is to analyze the provided text/data and extract all relevant information into a valid, clean, and concise **JSON object**.\n2. **OUTPUT REQUIREMENT:** You must output *only* the JSON object. Do not include any explanatory text, markdown notes, preamble, or any other conversation outside of the opening `{` and closing `}` of the JSON structure.\n3. **INSTRUCTIONS:** Analyze the data provided below and structure it appropriately in the JSON object. **All similar properties must be normalized to a single, standardized key.**\n\n    * **Specific Standardization Rules:**\n        * Any form of **supplier code** or **ID** (e.g., `supplier id`, `vendor code`) must be standardized to the key **`supplier_code`**.\n        * Any form of **address** or **location** (e.g., `location`, `delivery_address`, `billing_location`) must be standardized to the key **`address`**.\n        * General fields (like `supplier_name`, `vendor`) should be standardized to the key **`supplier`**.\n\n    * **JSON Structure:**\n        * **`headers`:** A **single JSON object** containing the main document details (e.g., po_number, entry_date, `address`, `supplier_code`, `supplier`, totals).\n        * **`items`:** An **array of JSON objects** containing the line-item details (using standardized keys).\n\n---\n**DATA TO EXTRACT:**\n{{$json.data}}\n---",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -224,
        -336
      ],
      "id": "3721c27c-782a-4f93-8ad8-fce6bdbc6a16",
      "name": "AI Agent2",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f786a965-8cf8-4a26-9ac2-e04f2b7ee28e",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        112
      ],
      "id": "28e54cf9-34f0-49e5-a715-996611bcdff6",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        368
      ],
      "id": "be8c583e-814f-4e61-b39c-0e3d300fd06f",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Failed to extract\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        368
      ],
      "id": "fb49e7e9-241e-4983-8e04-ee6c58a3665b",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e1c4df7f-5b6c-4e61-a96a-e510f49209ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d3aec9c034018f5e33357f19019537a4d55ea2b492627c0cdd1fdbfe8b168c3"
  },
  "id": "NWt9iHl0M4cxAlWn",
  "tags": []
}